* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
padding: 10px;
background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.contanier {
    max-width: 800px;
    width: 100%;
    background-color: white;
    border-radius: 3%;
   padding: 30px;
   margin-left: 0 15px;
}
 .contanier header {
   position: relative;
   font-size: 22px;
   font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
 }
 .contanier header::before {
   content: "";
   position:absolute;
   width: 27px;
   height: 3px;
   background-color:  blue;
   left: 0;
   bottom:-2px;
} 
 .contanier form {
   background-color: #fff;
   margin-top: 20px;
   min-height: 460px;
 }
 .contanier form .detail {
margin-top: 10px;
 }
 .contanier form span {
   margin: 20px;
 }
 .contanier form .title {
   font-size: 20px;
   font-weight: 500px;
   margin:10px 0px;
   color: rgb(32, 32, 32);
 }
.contanier form .feild {
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;

}
form .feild .personal {
display: flex;
   width: calc(100% / 3-15px);
   flex-direction: column;
   
}
.personal label {
   font-size: 16px;
   color: rgb(49, 50, 50);
}
.personal input {
padding: 0 16px;
   height: 42px;
   outline: none;
   margin: 8px 0;
   font-size: 14px;
   color: rgb(60, 60, 60);
   border: 1px soild black;
}
.text {
background-color:rgb(102, 102, 223);
color: white;
height: 45px;
width:100%;
max-width: 200px;
border: none;
border-radius: 4%;
}
.text:hover {
   background:blue;
}
.text .word {
   font-size: 16px;
}